{% extends "_layouts/base" %}
{% block shrink %}
{% endblock %}
{% block title %}
    Brandish Insights: Brand Tracking & Analytics That Create Market Leaders
{% endblock %}
{% block schema %}

        <meta property="og:type" content="article">
        <meta property="og:title" content="Brandish Insights:The World's First Brand Analytics Platform">
        <meta property="og:site_name" content="https://www.brandishinsights.com">
        <meta property="og:description" content="Providing you with the brand measurement, market research, and consumers insights your company needs to become the market leader. We're like Google Analytics for brands.">
        <meta property="og:image" content="https://www.brandishinsights.com/assets/images/logo-light.png">
        <meta property="og:url" content="https://www.brandishinsights.com">
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "NewsArticle",
  "image": [
    "https://www.brandishinsights.com/assets/images/logo-light.png"
  ],
  "datePublished": "{{ entry.postDate | date('Y-m-d') }}",
  "dateModified": "{{ entry.dateUpdated | date('Y-m-d') }}",
  "headline": "Brandish Insights: Brand Tracking & Analytics That Create Market Leaders",
  "publisher": {
      "@type": "Organization",
      "name": "Brandish Insights",
      "logo": {
          "@type": "ImageObject",
          "url": "https://www.brandishinsights.com/assets/images/logo-light.png"
      }
  },
  "description": "Providing you with the brand measurement, market research, and consumers insights your company needs to become the market leader.",
  "author": {
      "@type": "Person",
      "name": "Josh Braaten"
  },
  "mainEntityOfPage": "https://www.brandishinsights.com"

}
</script>
{% endblock %}

{% block description %}
Providing you with the brand measurement, market research, and consumers insights your company needs to become the market leader.
{% endblock %}

{% block content %}

<section class="hero">
<header>
  <div class="overlay">
    <img src="/assets/images/banner.png">
  </div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="/assets/videos/BackgroundVideo.mp4" type="video/mp4">
  </video>
<div class="container pt-5">
        <div class="row py-lg-5">
          <div class="col-lg-8 text-white py-5 my-5">
            <h1 class="fz40 AB">Insights That Turn Brands Into Market Leaders</h1>
            <p class="fz24 pr-md-5 mr-lg-5 mt-4 tw-capitalize">Brandish Insights is the most in-depth way to measure your brand and unlock customer demand. </p>
            <ul class="list-inline text-center text-lg-left">
              <li class="list-inline-item my-1">
                <a class="btn G_btn px-4 text-uppercase py-2" data-toggle="modal" data-target="#drip-early-access"><span class="px-3">Request a demo</span></a>
              </li>
              <li class="list-inline-item my-1">
                <a class="btn GO_btn px-4 text-uppercase py-2" data-toggle="modal" data-target="#modal-video"><span class="px-3">See How It works</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
</header>

{# <video autoplay="" muted="" loop="" playsinline="" data-wf-ignore="true">
                <source src="/assets/videos/BackgroundVideo.mp4" data-wf-ignore="true">
            </video>
      <div class="container pt-5">
        <div class="row py-lg-5">
          <div class="col-lg-8 text-white py-5 my-5">
            <h1 class="fz40 AB">Insights That Will Make <br class="d-none d-lg-block"> Your Brand The Market Leader</h1>
            <p class="fz24 pr-md-5 mr-lg-5 mt-4">Brandish Insights gives you the brand analytics, measurement, and consumer insights you need to grow your brand.</p>
            <ul class="list-inline text-center text-lg-left">
              <li class="list-inline-item my-1">
                <a href="#" class="btn G_btn px-4 text-uppercase py-2"><span class="px-3">Talk To A Strategist</span></a>
              </li>
              <li class="list-inline-item my-1">
                <a href="#" class="btn GO_btn px-4 text-uppercase py-2"><span class="px-3">See How It works</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div> #}
      <img href="/assets/images/mask2x-p-2000.png" class="image-mask">
    </section>
    <section class="WHT">
      <div class="container py-lg-5">
        <div class="row pt-5 pb-md-5">
          <div class="col-12">
            <h2 class="text-uppercase text-center AB">TRACK YOUR BRAND'S UNIQUE PATH</h2>
            <p class="text-center pb-8 tw-capitalize">get the most advanced brand analytics, competitive intelligence, and consumer insights available.</p>
            

          </div>
          
        </div>
        <div class="row">
            <div class="col-12 col-md-8">
              <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://datastudio.google.com/embed/reporting/1wViTHRvxB5u-gV3adSDmY_tVQUMs9lHy/page/201z" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="p-2 pb-4">
              <b>Brand Analytics</b>
              <p>Track over a dozen important brand metrics at all stages of the customer journey to get granular about growth opportunities. </p>
              </div>
              <div class="p-2 pb-4">
              <b>Competitive Intelligence</b>
              <p>Understand which brand is really the customer's favorite and why. Use the knowledge to disrupt the market and gain share.</p>
              </div>
              <div class="p-2 pb-4">
              <b>Consumer Insights</b>
              <p>Discover what's really important to customers in a product or service category and how your brand can grow as a result. </p>
              </div>
            </div>
      </div>
    </section>
    <section class="HOW pb-5">
      <div class="container py-5">
        <div class="row pt-5">
          <div class="col-12">
            <h2 class="text-uppercase text-center AB text-white">HOW IT WORKS</h2>
          </div>
        </div>
        <div class="row justify-content-center py-5">
          <div class="col-lg-3 col-md-4 col-sm-6 col-11 px-lg-4 posr">
            <i class="fas fa-long-arrow-alt-right fa-2x text-white posa"></i>
            <div class="box bsh br15 bg-white p-4 text-center pb-5 mx-xl-4">
              <h3 class="font-weight-bold">Consumers</h3>
              <img src="img/ft1.png" class="img-fluid my-4 w-75 start bounceIn" alt="">
              <p class="small text-left m-0">Every Brandish Insights project begins with hundreds (or thousands) of responses to your brand's customized study from real consumers. </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-11 px-lg-4 posr">
            <i class="fas fa-long-arrow-alt-right fa-2x text-white posa"></i>
            <div class="box bsh br15 bg-white p-4 text-center pb-5 mx-xl-4">
              <h3 class="font-weight-bold">Analyze</h3>
              <img src="img/ft2.png" class="img-fluid my-4 w-75 start bounceIn" alt="">
              <p class="small text-left m-0">Expert brand analysts review the results from your study and identify the biggest strengths and areas of growth for your brand. </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-11 px-lg-4 posr">
            <i class="fas fa-long-arrow-alt-right fa-2x text-white posa"></i>
            <div class="box bsh br15 bg-white p-4 text-center pb-5 mx-xl-4">
              <h3 class="font-weight-bold">Report</h3>
              <img src="img/ft3.png" class="img-fluid my-4 w-75 start bounceIn" alt="">
              <p class="small text-left m-0">Reports are delivered through Google Data Studio, completely branded, and are as breathtaking as they are insightful.  </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-11 px-lg-4">
            <div class="box bsh br15 bg-white p-4 text-center pb-5 mx-xl-4">
              <h3 class="font-weight-bold">Test</h3>
              <img src="img/ft4.png" class="img-fluid my-4 w-75 start bounceIn" alt="">
              <p class="small text-left m-0">Put insights into action more quickly than ever before by creating advertising audiences from segments identified in your brand’s study. </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="WHY">
      <div class="container py-5">
        <div class="row pt-5 justify-content-center">
          <div class="col-lg-12 text-uppercase text-center ">
            <h2 class=" AB">BE EMPOWERED TO LEAD THE MARKET</h2>
            <p class="fz20 m-0 tw-capitalize">brandish insights helps brands overcome the largest marketing barriers to growth</p>
          </div>
        </div>
        <div class="row py-5 justify-content-between">
          <div class="col-lg-4 py-3 d-flex justify-content-center flex-column col-xl-3 oxh">
            <ul class="list-unstyled">
              <li class="start slideInLeft">
                <a href="#" class="tdn">
                  <i class="fas fa-angle-right"></i>
                  <span>Marketing Strategy</span>
                </a>
              </li>
              <li class="start slideInLeft">
                <a href="#" class="tdn">
                  <i class="fas fa-angle-right"></i>
                  <span>Ad & Creative Development</span>
                </a>
              </li>
              <li class="start slideInLeft">
                <a href="#" class="tdn">
                  <i class="fas fa-angle-right"></i>
                  <span>Brand Strategy</span>
                </a>
              </li>
              <li class="start slideInLeft">
                <a href="#" class="tdn">
                  <i class="fas fa-angle-right"></i>
                  <span>Value Propositions</span>
                </a>
              </li>
              <li class="start slideInLeft">
                <a href="#" class="tdn">
                  <i class="fas fa-angle-right"></i>
                  <span>Audiences & Personas</span>
                </a>
              </li>
              <li class="start slideInLeft">
                <a href="#" class="tdn">
                  <i class="fas fa-angle-right"></i>
                  <span>Competitor Tracking</span>
                </a>
              </li>
              <li class="start slideInLeft">
                <a href="#" class="tdn">
                  <i class="fas fa-angle-right"></i>
                  <span>Total Addressable Market</span>
                </a>
              </li>
              <li class="start slideInLeft">
                <a href="#" class="tdn">
                  <i class="fas fa-angle-right"></i>
                  <span>Brand Tracking</span>
                </a>
              </li>
              <li class="start slideInLeft">
                <a href="#" class="tdn">
                  <i class="fas fa-angle-right"></i>
                  <span>Campaign Performance</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-lg-7 py-3">
              <script src="https://fast.wistia.com/embed/medias/0b71j3gpgc.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_0b71j3gpgc videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/0b71j3gpgc/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>
          </div>
        </div>
      </div>
    </section>
    <section class="TST">
      <div class="container py-5">
        <div class="row pt-5 justify-content-center">
          <img src="/assets/testimonials/bite-squad.png">
        </div>
      </div>
    </section>
    <!--  <div id="carouselTST" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselTST" class="small active" data-slide-to="0">Lime</li>
          <li data-target="#carouselTST" class="small" data-slide-to="1">Foodsby</li>
          <li data-target="#carouselTST" class="small" data-slide-to="2">Alex & Ani</li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item lime active">
            <div class="container py-lg-5">
              <div class="row pb-5 mb-5">
                <div class="col-lg-7 col-md-9 py-5">
                  <img src="img/lime.png" class="img-fluid" alt="">
                  <p class="mt-4 mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at sollicitudin ligula.</p>
                  <p class="lead m-0">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.” </p>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container py-lg-5">
              <div class="row pb-5 mb-5">
                <div class="col-lg-7 col-md-9 py-5">
                  <img src="img/lime.png" class="img-fluid" alt="">
                  <p class="mt-4 mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at sollicitudin ligula.</p>
                  <p class="lead m-0">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.” </p>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container py-lg-5">
              <div class="row pb-5 mb-5">
                <div class="col-lg-7 col-md-9 py-5">
                  <img src="img/lime.png" class="img-fluid" alt="">
                  <p class="mt-4 mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at sollicitudin ligula.</p>
                  <p class="lead m-0">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.” </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>-->
    <section class="SCL">
      <div class="container py-lg-5">
        <div class="row py-5">
          <div class="col-12">
            <h2 class="text-uppercase text-center AB">MORE FROM BRANDISH INSIGHTS</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 py-3">
            <script src="https://fast.wistia.com/embed/medias/rfdasov65k.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_rfdasov65k videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/rfdasov65k/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>
          </div>
          <div class="col-lg-6 pl-lg-5 col-xl-5 py-3 text-center">
            <h3 class="font-weight-bold">Marketing Is Broken</h3>
            <p>Watch our weekly show about what’s broken about branding, advertising, and marketing today, and how we marketers help can fix it.</p>
            <!--<div class="text-center">
              <p class="d-table my-4">
                <a href="#" class="btn GO_btn py-2 px-5 d-flex tdn">
                  <span>Find Out More</span>
                  <i class="fas fa-long-arrow-alt-right pt-1 ml-2 fz22"></i>
                </a>
              </p>
            </div>-->
            <div>
              <p class="my-4">
                <a href="#" class="btn GO_btn py-2 px-5">
                   <span>Find Out More</span>
                  <i class="fas fa-long-arrow-alt-right ml-2 fz22"></i>
                </a>
              </p>
            </div>
            <h3 class="font-weight-bold mt-5">Our Recent Posts</h3>
            <ul class="list-unstyled">
              <li class="tw-whitespace-no-wrap">
                <a href="/blog/brand-awareness" class="tdn">
                  <i class="fas fa-angle-right"></i>
                  <span>24 Brand Awareness Tips: A Complete List of 2019 Growth Ideas</span>
                </a>
              </li>
              <li class="tw-whitespace-no-wrap">
                <a href="/blog/brand-metrics" class="tdn">
                  <i class="fas fa-angle-right"></i>
                  <span>Brand Metrics: Learning to Quantify the Value of Your Brand</span>
                </a>
              </li>
              <li class="tw-whitespace-no-wrap">
                <a href="/blog/brand-measurement" class="tdn">
                  <i class="fas fa-angle-right"></i>
                  <span>Brand Measurement: The Proper Process To Explode Company Growth</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        </div>
      </div>
    </section>
    <section class="FRM">
      <div class="container">
        <div class="row justify-content-center py-5">
          <div class="col-lg-5 col-md-7 col-sm-9 py-5 text-center">
            <h3>Ready to measure your brand?</h3>
            <p class="fz13 tw-capitalize">Get in touch with our analysts to preview your brand’s unique study methodology for free.</p>

            <form action="https://www.getdrip.com/forms/31912202/submissions" method="post" data-drip-embedded-form="31912202" class="form-group px-sm-3 mt-5">
              <input type="text" class="form-control br20 mb-3 pl-3 fz14" iid="drip-first-name" name="fields[first_name]" value="" placeholder="Name" minlength="2">
              <input type="email" class="form-control br20 mb-3 pl-3 fz14" id="drip-email" name="fields[email]" value="" placeholder="Email">
              <!--<textarea placeholder="Enter Your Message" class="form-control br20 mb-3 pl-3 fz14" cols="30" rows="6"></textarea> -->
              <buttun class="btn G_btn px-5 text-uppercase"><span class="px-3">Request a preview</span></buttun>
            </form>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
