{% extends "_layouts/base" %}

{% block title %}
Brandish Insights: Pricing
{% endblock %}

{% block header %}
<link href="/assets/css/pricing.css" rel="stylesheet">
{% endblock %}

{% block content %}
<section id="pricing-intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Brandish Insights Pricing</h2>

                <h3 class="section-subheading text-muted">Select a plan and grow your brand.</h3>
            </div>
        </div>
    </div>
</section>
<!-- Services Section -->
<section id="pricing">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-10 col-md-offset-1">
                <section class="layer plans">
                    <section>
                        <section class="col-sm-4 lift plan-tier col-offset-right" onclick="location.href='#';">
                            <div class="matchHeight">
                                <h4>Pioneer</h4>
                                <h5><sup class="superscript">$</sup><span class="plan-price">249</span><sub> /mo</sub>
                                </h5>
                                <!--<p class="early-adopter-price">Early adopter price</p><br>-->
                                <!--<del>$10/mo</del>-->

                                <ul>
                                    <li>What's Included</li>
                                    <li>Awareness Score</li>
                                </ul>
                            </div>
                            <a href="#" class="btn btn-primary btn-black">Coming Soon</a>

                            <div class="margin67">

                            </div>
                        </section>

                        <section class="col-sm-4 lift plan-tier callout" onclick="location.href='#';">
                            <h6>Most popular</h6>

                            <div class="matchHeight">
                                <h4>Pro</h4>
                                <h5><sup class="superscript">$</sup><span class="plan-price">499</span><sub> /mo</sub>
                                </h5>
                                <!--<p class="early-adopter-price">Early adopter price</p><br>-->
                                <!--<del>$40/mo</del>-->
                                <ul>
                                    <li>What's Included</li>
                                    <li>Awareness Score</li>
                                    <li>Brand Profile</li>
                                </ul>
                            </div>
                            <a href="#" class="btn btn-primary">Coming Soon</a>

                            <div class="margin67">

                            </div>
                        </section>

                        <section class="col-sm-4 lift plan-tier col-offset-left" onclick="location.href='#';">
                            <div class="matchHeight">
                                <h4>Sage</h4>
                                <h5><sup class="superscript">$</sup><span class="plan-price">1,699</span><sub> /mo</sub>
                                </h5>
                                <!--<p class="early-adopter-price">Early adopter price</p><br>-->
                                <!--<del>$200/mo</del>-->
                                <ul>
                                    <li>What's Included</li>
                                    <li>Awareness Score</li>
                                    <li>Brand Profile</li>
                                    <li>Brandish Plus*</li>
                                </ul>
                            </div>
                            <a href="#" class="btn btn-primary btn-black">Coming Soon</a>

                            <div class="fine-print">*Includes more consumer responses in every report, which further
                                increases the statistical significance of our results.
                            </div>
                        </section>
                    </section>
                </section>
            </div>

        </div>
    </div>
</section>
<div class="accordion container">
    <div class="row">

        <h2>Frequently Asked Questions</h2>

        <p>It’s natural to have questions about innovative new services.</p>

        <h4 class="accordion-toggle">How are my brand’s metrics calculated?</h4>

        <div class="accordion-content">
            <p>
                We determine your brand’s scores by asking real consumers about your brand using today’s top consumer
                surveying technologies.
            </p>
        </div>

        <h4 class="accordion-toggle">How accurate are my results?</h4>

        <div class="accordion-content">
            <p>
                Our Pioneer and Pro plans are mathematically directionally accurate while our Sage plan increases the
                instances of statistically significant results.

            </p>
        </div>

        <h4 class="accordion-toggle">Can you really measure a brand?</h4>

        <div class="accordion-content">
            <p>
                Yes. In order to improve anything, you must first measure it. Our tools synthesize complex consumer
                feedback about a brand and distills it into easy-to-understand metrics and insights.
            </p>
        </div>

        <h4 class="accordion-toggle">Can’t I just do this myself?</h4>

        <div class="accordion-content">
            <p>
                Yes. In the same way that Home Depot gives you everything you need to build a house. We shortcut consumer research, studies and interactions to give you a clearer path to brand growth.
            </p>
        </div>
        <h4 class="accordion-toggle">Why don’t I just hire a branding agency?</h4>

        <div class="accordion-content">
            <p>
                Ideally you’d do both: work with a brilliant branding agency and supplement your engagement with a Brandish Insights plan. That way, you’d have the experience and instinct of a proven consultant and the objectivity and market data that Brandish Insights provides.

            </p>
        </div>
        <h4 class="accordion-toggle">Where do we get our “real consumers?”</h4>

        <div class="accordion-content">
            <p>
                We take the details about your brand that you provide and engage real consumers using the same survey technologies leveraged by the world’s top political pollsters and statisticians.
            </p>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}
