{% extends "_layouts/base" %}

{% block title %}
Brandish Insights: Pricing
{% endblock %}

{% block header %}
<link href="/assets/css/pricing.css" rel="stylesheet">
{% endblock %}

{% block content %}
<section class="marketing-show">
    <div class="">
        <div class="row">
            <div class="col-lg-12 text-center">
        <script src="https://fast.wistia.com/assets/external/channel.js" async></script><div class="wistia_channel wistia_async_gu1jehbwcm mode=inline" style="position:relative;width:100%;"></div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block scripts %}

{% endblock %}
