// --- Fixed Header ---

.tp--header.tp--header-2 {
	background-color: white;

  .logo {
	  line-height: 150px;

  	a {
	    color: inherit;
  	}

  }

	nav {

		.nav {
			> li {
		  	> a {
	    		color: inherit;
	    		line-height: 150px;

			    &:hover {

			    }
			  }

	    }
		}
    
	}

}