<div class="wrap-fixed">
    <div class="row top-xs">
        <div class="col-xs-12 col-sm-12">
            <div class="box blog-wrapper blog-section">

                {{ block.javascriptText|raw  }}
            </div>
        </div>
    </div>
</div>