<div class="wrap-fixed">
    <div class="row top-xs">
        <div class="col-xs-12 col-sm-12">
            <div class="box blog-wrapper blog-section">
                {% if block.heading |length %}
                <h3 class="blog">
                        <span class="blog-headline-link">
                            <a id="{{ block.heading |kebab }}" href="#{{ block.heading |kebab }}"> <i class="icon-link"></i></a>
                        </span>
                    {{ block.heading  }}
                </h3>
                {% endif %}
                {{ block.embed  }}
            </div>
        </div>
    </div>
</div>