<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6"> <![endif]-->
<!--[if IE 7 ]> <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8 ]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Brandish Insights: Landing Page</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link rel="shortcut icon" href="favicon.ico">  
  <!-- Place favicon.ico in the root directory -->

  <!-- Mandatory Stylesheets -->
  
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet" type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,300italic,400italic,500italic,700,700italic' rel='stylesheet' type='text/css'>

  <link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        
  <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Archivo+Narrow:400,700,700i&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  

  <!-- Plugin Stylesheets -->
  <link rel="stylesheet" href="/css/plugins/owl-carousel/owl.carousel.min.css">
  <link rel="stylesheet" href="/css/plugins/owl-carousel/owl.theme.default.min.css">
  <link rel="stylesheet" href="/css/plugins/owl-carousel/owl.carousel.custom.css">
  <link rel="stylesheet" href="/css/plugins/devices/devices.min.css">
  <link rel="stylesheet" href="/css/font-awesome.css">
  <link rel="stylesheet" href="/css/simple-line-icons.css">
  <link rel="stylesheet" href="/css/plugins/magnific-popup/magnific-popup.css">
  <link rel="stylesheet" href="/css/plugins/aos/aos.css">
  <link rel="stylesheet" href="/css/plugins/loaders-css/loaders.min.css">

  <!-- Template Stylesheets -->
  <link rel="stylesheet" href="/css/main.css">
  
  <link rel="stylesheet" href="/css/themes/theme-purple.css">
  <link rel="stylesheet" href="/css/custom.css">
  <link rel="stylesheet" href="/assets/css/main.css?v=1">
  <link rel="stylesheet" href="/assets/css/design.css?v=1">

  
</head>

<body>
  <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->



  <!-- Page Preloader (only used on index pages) -->

  <div class="tp--preloader">
    <div class="tp--spinner loader">
      <div class="loader-inner ball-beat">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>




  <!-- HEADER
    ================================================== -->

  <!--header class="tp--header tp--header-fixed tp--header-shrink tp--header-1">

    <a href="#0" class="nav-trigger">Open Nav<span aria-hidden="true"></span></a>

    <nav class="navbar-wrapper">

      <div class="container clearfix">

        <h1 class="logo">
          <a href="/">
            <img src="assets/images/logo.png" class="logo-main" alt="Olive.">
            <img src="assets/images/logo-dark.1.png" class="logo-dark" alt="Olive.">
          </a>
        </h1>

        <div class="navbar tp--nav-dropdown pull-right">

          <div class="navbar-collapse collapse">

            <ul class="nav navbar-nav">
              <li>
                <a href="index-home-2.html">Home</a>
              </li>
              <li>
                <a href="#about" class="tp--scroll">How it works</a>
              </li>
              <li>
                <a href="#featured1" class="tp--scroll">Features</a>
              </li>
              <li>
                <a href="page-pricing-2.html">Pricing</a>
              </li>
              <li class="has-dropdown links" data-content="more">
                <a href="#0">More</a>
              </li>
              <li class="tp--nav-divider"><a></a></li>
              <li>
                <a class="popup-modal" href="#modal-login">Login</a>
              </li>
              <li class="tp--nav-signup">
                <a class="popup-modal" href="#modal-register"><span class="btn btn-lg btn-primary">Sign up</span></a>
              </li>
            </ul>
          </div>

        </div>

        <div class="morph-dropdown-wrapper">
          <div class="morph-dropdown-container">
            <div class="dropdown-list text-center">
              <ul>

                <li class="links">
                  <a href="index-home-2.html" class="tp--nav-label">Home</a>
                </li>

                <li class="links">
                  <a href="#about" class="tp--nav-label tp--scroll">How it works</a>
                </li>

                <li class="links">
                  <a href="#featured1" class="tp--nav-label tp--scroll">Features</a>
                </li>

                <li class="links">
                  <a href="page-pricing-2.html" class="tp--nav-label">Pricing</a>
                </li>

                <li id="more" class="dropdown links">
                  <a href="#0" class="tp--nav-label">Additional Links</a>

                  <div class="content">
                    <ul>
                      <li>
                        <a href="page-about-2.html">About Us</a>
                      </li>

                      <li>
                        <a href="page-testimonials-2.html">Testimonials</a>
                      </li>

                      <li>
                        <a href="page-contact-2.html">Contact us</a>
                      </li>
                    </ul>
                  </div>
                </li>

                <li class="tp--nav-divider"><a></a></li>

                <li class="links tp--nav-auth">
                  <a class="popup-modal tp--nav-label" href="#modal-login"><span
                      class="btn btn-lg btn-primary btn-empty">Login</span></a>
                </li>

                <li class="links tp--nav-auth">
                  <a class="popup-modal tp--nav-label" href="#modal-register"><span class="btn btn-lg btn-primary">Sign
                      up</span></a>
                </li>

              </ul>

              <div class="bg-layer" aria-hidden="true"></div>
            </div>
          </div>
        </div>

      </div>

    </nav>

  </header-->


  <header class="px-lg-5 " style="background: none;">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#"><img src="img/logo.png" class="img-fluid" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item px-2">
              <a class="nav-link px-2" href="/">Home</a>
            </li>
            <li class="nav-item px-2">
              <a class="nav-link px-2" href="/blog">Blog</a>
            </li>
            <li class="nav-item px-2">
              <a class="nav-link px-2" href="/marketing-show">Marketing Is Broken</a>
            </li>
            <li class="nav-item px-2">
              <a class="nav-link px-2" href="https://deals.brandishinsights.com/brand-analytics/" Target="_New">Webinar</a>
            </li>
            <li class="nav-item px-2">
              <a class="nav-link px-2" href="/contact-us">Contact Us</a>
            </li>
           
          </ul>
        </div>
      </nav>
  </header>  
  <!-- Hero Section
    ================================================== -->
  <section id="intro"
    class="tp--intro tp--intro-dark tp--slider-single tp--owl-carousel-single owl-carousel owl-theme tp--intro-height-100"
    data-carousel-options='{ "items": "2", "mouseDrag": true, "touchDrag": false, "responsive": { "0": { "items":"1" } } }'>

    <div class="item-video item tp--intro-content-left text-sm-center tp--with-image">

        <div class="overlay">
          <img src="/assets/images/banner.png">
        </div>

        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
          <source src="/assets/videos/BackgroundVideo.mp4" type="video/mp4">
        </video>

        <div class="container">

          <div class="row tp--col-sm-vertical-align tp--col-xs-vertical-align tp--vertical-align-intro">

            <div class="col-sm-12 col-md-5">
              <div>
                <h2 class="fz40 AB">Insights That Turn Brands Into Market Leaders</h2>
                <p>Olive helps you connect with your local community to find those hidden gems you wish you already knew.
                </p>
                <a class="btn btn-lg btn-primary popup-modal" href="#modal-register">Get started</a>
              </div>
            </div>

          </div>

        </div>

    </div>


    <div class="item tp--intro-content-left text-sm-center tp--with-image"
      style="background: url('assets/images/bg-intro-1.jpg');">

      <div class="container">

        <div class="row tp--col-sm-vertical-align tp--col-xs-vertical-align tp--vertical-align-intro">

          <div class="col-sm-12 col-md-5">
            <div>
              <h2 class="fz40 AB">Effortlessly manage your social influencers</h2>
              <p>Olive helps you connect with your local community to find those hidden gems you wish you already knew.
              </p>
              <a class="btn btn-lg btn-primary popup-modal" href="#modal-register">Get started</a>
            </div>
          </div>

        </div>

      </div>

    </div>

  </section>

  <!-- WHT Section
    ================================================== -->
    <section class="WHT">
      <div class="container py-lg-5">

        <div class="row pt-5 pb-md-5">
          <div class="col-12">
            <h2 class="text-uppercase text-center AB">VOTE YOUR FAVORITE CHARTS</h2>
            <!-- <p class="text-center pb-8 tw-capitalize"></p> -->
          </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-8">
              <div id="myCarousel" class="carousel slide w-100" data-ride="carousel">
                <div class="owl-carousel"
                  data-carousel-options='{ "autoplay":true, "autoplayTimeout":"4000",  "items":"6", "mouseDrag": false, "touchDrag": false , "responsive": { "0": { "items":"1" } } }'>

                  <div class="item embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="chart/radar_chart/index.html" frameborder="0" style="border:0" allowfullscreen></iframe>
                  </div>

                  <div class="item embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="chart/polar_chart/index.html" frameborder="0" style="border:0" allowfullscreen></iframe>
                  </div>

                  <div class="item embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="chart/stepped_chart/index.html" frameborder="0" style="border:0" allowfullscreen></iframe>
                  </div>

                  <div class="item embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="chart/lollipop-chart/index.html" frameborder="0" style="border:0" allowfullscreen></iframe>
                  </div>

                  <div class="item embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src=" https://datavizproject.com/data-type/slope-chart/" frameborder="0" style="border:0" allowfullscreen></iframe>
                  </div>

                  <div class="item embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src=" https://datavizproject.com/data-type/column-range/" frameborder="0" style="border:0" allowfullscreen></iframe>
                  </div>

                   <div class="item embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src=" https://www.jasondavies.com/wordcloud/" frameborder="0" style="border:0" allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-4">
              <ul style="display: inline-block;">
                <li class="chart-li" id="chart-li0">
                  <div class="custom-control custom-checkbox" onmouseover ="onChartSel(0)">
                    <input type="checkbox" class="custom-control-input" id="customCheck0" name="example1">
                    <label class="custom-control-label" for="customCheck0">Radar Chart</label>                    
                  </div>
                </li>
                <li class="chart-li" id="chart-li1">
                  <div class="custom-control custom-checkbox" onmouseover="onChartSel(1)">
                    <input type="checkbox" class="custom-control-input" id="customCheck1" name="">
                    <label class="custom-control-label" for="customCheck1">Polar Chart</label>                    
                  </div>
                </li>
                <li class="chart-li" id="chart-li2">
                  <div class="custom-control custom-checkbox" onmouseover="onChartSel(2)">
                    <input type="checkbox" class="custom-control-input" id="customCheck2" name="">
                    <label class="custom-control-label" for="customCheck2">Stepped Chart</label>                    
                  </div>
                </li>
                <li class="chart-li" id="chart-li3">
                  <div class="custom-control custom-checkbox" onmouseover="onChartSel(3)">
                    <input type="checkbox" class="custom-control-input" id="customCheck3" name="">
                    <label class="custom-control-label" for="customCheck3">Lollipop Chart</label>                    
                  </div>
                </li>
                <li class="chart-li" id="chart-li4">
                  <div class="custom-control custom-checkbox" onmouseover="onChartSel(4)">
                    <input type="checkbox" class="custom-control-input" id="customCheck4" name="">
                    <label class="custom-control-label" for="customCheck4">Slope Chart</label>                    
                  </div>
                </li>
                <li class="chart-li" id="chart-li5">
                  <div class="custom-control custom-checkbox" onmouseover="onChartSel(5)">
                    <input type="checkbox" class="custom-control-input" id="customCheck5" name="">
                    <label class="custom-control-label" for="customCheck5">Colume Range</label>                    
                  </div>
                </li>
                <li class="chart-li" id="chart-li6">
                  <div class="custom-control custom-checkbox" onmouseover="onChartSel(6)">
                    <input type="checkbox" class="custom-control-input" id="customCheck6" name="">
                    <label class="custom-control-label" for="customCheck6">Wordcloud</label>                    
                  </div>
                </li>
              </ul>
              <form class="row">
                <div class="email-div col-md-9">
                  <label style="float: left;">Email:</label>
                  <input type="text" name="" class="form-control mb-3 ">
                </div>
                <button type="button" class="btn btn-primary col-md-3 btn-vote" onclick="onChartVote()">Vote</button>
              </form>
            </div>
        </div>


        <div class="row pt-5 pb-md-5">
          <div class="col-12">
            <h2 class="text-uppercase text-center AB">Poll Result</h2>
          </div>
        </div>

        <div class="row">
          <canvas id="canvas"></canvas>
        </div>

      </div>
    </section>


  <!-- HOW Section
    ================================================== -->
    <section class="HOW tp--section tp--features text-center">
      <div class="page-header text-center">
        <h2 class="text-white">How It Works</h2>
      </div>

      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-3 col-md-4 col-sm-6 col-11 px-lg-4 posr">
            <i class="fas fa-long-arrow-alt-right fa-2x text-white posa"></i>
            <div class="box bsh br15 bg-white p-4 text-center pb-5 mx-xl-4 tp--hover-1">
              <h3 class="font-weight-bold">Consumers</h3>
              <img src="img/ft1.png" class="img-fluid my-4 w-75 start bounceIn" alt="">
              <p class="small text-left m-0">Every Brandish Insights project begins with hundreds (or thousands) of responses to your brand's customized study from real consumers. </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-11 px-lg-4 posr">
            <i class="fas fa-long-arrow-alt-right fa-2x text-white posa"></i>
            <div class="box bsh br15 bg-white p-4 text-center pb-5 mx-xl-4 tp--hover-1">
              <h3 class="font-weight-bold">Analyze</h3>
              <img src="img/ft2.png" class="img-fluid my-4 w-75 start bounceIn" alt="">
              <p class="small text-left m-0">Expert brand analysts review the results from your study and identify the biggest strengths and areas of growth for your brand. </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-11 px-lg-4 posr">
            <i class="fas fa-long-arrow-alt-right fa-2x text-white posa"></i>
            <div class="box bsh br15 bg-white p-4 text-center pb-5 mx-xl-4 tp--hover-1">
              <h3 class="font-weight-bold">Report</h3>
              <img src="img/ft3.png" class="img-fluid my-4 w-75 start bounceIn" alt="">
              <p class="small text-left m-0">Reports are delivered through Google Data Studio, completely branded, and are as breathtaking as they are insightful.  </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-11 px-lg-4">
            <div class="box bsh br15 bg-white p-4 text-center pb-5 mx-xl-4 tp--hover-1">
              <h3 class="font-weight-bold">Test</h3>
              <img src="img/ft4.png" class="img-fluid my-4 w-75 start bounceIn" alt="">
              <p class="small text-left m-0">Put insights into action more quickly than ever before by creating advertising audiences from segments identified in your brand’s study. </p>
            </div>
          </div>
        </div>

        <div class="row justify-content-center py-5">
          <div class="col-lg-4 col-md-4 col-sm-6 col-11 px-lg-4 posr">
            <i class="fas fa-long-arrow-alt-right fa-2x text-white posa"></i>
            <div class="box bsh br15 bg-white p-4 text-center pb-5 mx-xl-4 tp--hover-1">
              <h3 class="font-weight-bold">Sky's the limit</h3>
              <div class="tp--icon-wrapper">
                <i class="tp--icon-gradient icon-layers icon-small"></i>
              </div>
              <p class="small text-left m-0">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-11 px-lg-4 posr">
            <i class="fas fa-long-arrow-alt-right fa-2x text-white posa"></i>
            <div class="box bsh br15 bg-white p-4 text-center pb-5 mx-xl-4 tp--hover-1">
              <h3 class="font-weight-bold">Big Ideas</h3>
              <div class="tp--icon-wrapper">
                <i class="tp--icon-gradient icon-screen-desktop icon-small"></i>
              </div>
              <p class="small text-left m-0">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-11 px-lg-4 posr">
            <!-- <i class="fas fa-long-arrow-alt-right fa-2x text-white posa"></i> -->
            <div class="box bsh br15 bg-white p-4 text-center pb-5 mx-xl-4 tp--hover-1">
              <h3 class="font-weight-bold">Creative Execution</h3>
              <div class="tp--icon-wrapper">
                <i class="tp--icon-gradient icon-layers icon-small"></i>
              </div>
              <p class="small text-left m-0">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
            </div>
          </div>
        </div>

      </div>
    </section>

    <!-- About Section
      ================================================== -->
    <!--section id="about" class="tp--section tp--features text-center">

      <div class="page-header text-center">
        <i class="icon-bulb icons"></i>
        <h2>About Our Products</h2>
      </div>

      <div class="container">

        <div class="row">
          <div class="col-sm-4 tp--feature">
            <div class="tp--icon-wrapper">
              <i class="tp--icon-gradient icon-layers icon-small"></i>
            </div>
            <h3>Sky's the limit</h3>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
          </div>
          <div class="col-sm-4 tp--feature">
            <div class="tp--icon-wrapper">
              <i class="tp--icon-gradient icon-screen-desktop icon-small"></i>
            </div>
            <h3>Big Ideas</h3>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
          </div>
          <div class="col-sm-4 tp--feature">
            <div class="tp--icon-wrapper">
              <i class="tp--icon-gradient icon-drop icon-small"></i>
            </div>
            <h3>Creative Execution</h3>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
          </div>
          <div class="col-sm-4 tp--feature">
            <div class="tp--icon-wrapper">
              <i class="tp--icon-gradient icon-layers icon-small"></i>
            </div>
            <h3>Sky's the limit</h3>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
          </div>
          <div class="col-sm-4 tp--feature">
            <div class="tp--icon-wrapper">
              <i class="tp--icon-gradient icon-screen-desktop icon-small"></i>
            </div>
            <h3>Big Ideas</h3>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
          </div>
          <div class="col-sm-4 tp--feature">
            <div class="tp--icon-wrapper">
              <i class="tp--icon-gradient icon-drop icon-small"></i>
            </div>
            <h3>Creative Execution</h3>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
          </div>
        </div>
      </div>

    </section-->

    <!-- Why Section
      ================================================== -->

    <section class="WHY">
      <div class="container py-5">
        <div class="row pt-5 justify-content-center">
          <div class="col-lg-12 text-uppercase text-center ">
            <h2 class=" AB">BE EMPOWERED TO LEAD THE MARKET</h2>
            <p class="fz20 m-0 tw-capitalize">brandish insights helps brands overcome the largest marketing barriers to growth</p>
          </div>
        </div>
        <div class="row py-5 justify-content-between">
          <div class="col-lg-4 py-3 d-flex justify-content-center flex-column col-xl-3 oxh">
            <ul class="list-unstyled">
              <li class="start slideInLeft">
                <a href="#" class="tdn">
                  <i class="fas fa-angle-right"></i>
                  <span>Marketing Strategy</span>
                </a>
              </li>
              <li class="start slideInLeft">
                <a href="#" class="tdn">
                  <i class="fas fa-angle-right"></i>
                  <span>Ad & Creative Development</span>
                </a>
              </li>
              <li class="start slideInLeft">
                <a href="#" class="tdn">
                  <i class="fas fa-angle-right"></i>
                  <span>Brand Strategy</span>
                </a>
              </li>
              <li class="start slideInLeft">
                <a href="#" class="tdn">
                  <i class="fas fa-angle-right"></i>
                  <span>Value Propositions</span>
                </a>
              </li>
              <li class="start slideInLeft">
                <a href="#" class="tdn">
                  <i class="fas fa-angle-right"></i>
                  <span>Audiences & Personas</span>
                </a>
              </li>
              <li class="start slideInLeft">
                <a href="#" class="tdn">
                  <i class="fas fa-angle-right"></i>
                  <span>Competitor Tracking</span>
                </a>
              </li>
              <li class="start slideInLeft">
                <a href="#" class="tdn">
                  <i class="fas fa-angle-right"></i>
                  <span>Total Addressable Market</span>
                </a>
              </li>
              <li class="start slideInLeft">
                <a href="#" class="tdn">
                  <i class="fas fa-angle-right"></i>
                  <span>Brand Tracking</span>
                </a>
              </li>
              <li class="start slideInLeft">
                <a href="#" class="tdn">
                  <i class="fas fa-angle-right"></i>
                  <span>Campaign Performance</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-lg-7 py-3">
              <script src="https://fast.wistia.com/embed/medias/0b71j3gpgc.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_0b71j3gpgc videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/0b71j3gpgc/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>
          </div>
        </div>
      </div>
    </section>


    <section class="SCL">
      <div class="container py-lg-5">
        <div class="row py-5">
          <div class="col-12">
            <h2 class="text-uppercase text-center AB">MORE FROM BRANDISH INSIGHTS</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 py-3">
            <script src="https://fast.wistia.com/embed/medias/rfdasov65k.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_rfdasov65k videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/rfdasov65k/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>
          </div>
          <div class="col-lg-6 pl-lg-5 col-xl-5 py-3 text-center">
            <h3 class="font-weight-bold">Marketing Is Broken</h3>
            <p>Watch our weekly show about what’s broken about branding, advertising, and marketing today, and how we marketers help can fix it.</p>
            <!--<div class="text-center">
              <p class="d-table my-4">
                <a href="#" class="btn GO_btn py-2 px-5 d-flex tdn">
                  <span>Find Out More</span>
                  <i class="fas fa-long-arrow-alt-right pt-1 ml-2 fz22"></i>
                </a>
              </p>
            </div>-->
            <div>
              <p class="my-4">
                <a href="#" class="btn GO_btn py-2 px-5">
                   <span>Find Out More</span>
                  <i class="fas fa-long-arrow-alt-right ml-2 fz22"></i>
                </a>
              </p>
            </div>
            <h3 class="font-weight-bold mt-5">Our Recent Posts</h3>
            <ul class="list-unstyled">
              <li class="tw-whitespace-no-wrap">
                <a href="/blog/brand-awareness" class="tdn">
                  <i class="fas fa-angle-right"></i>
                  <span>24 Brand Awareness Tips: A Complete List of 2019 Growth Ideas</span>
                </a>
              </li>
              <li class="tw-whitespace-no-wrap">
                <a href="/blog/brand-metrics" class="tdn">
                  <i class="fas fa-angle-right"></i>
                  <span>Brand Metrics: Learning to Quantify the Value of Your Brand</span>
                </a>
              </li>
              <li class="tw-whitespace-no-wrap">
                <a href="/blog/brand-measurement" class="tdn">
                  <i class="fas fa-angle-right"></i>
                  <span>Brand Measurement: The Proper Process To Explode Company Growth</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        </div>
      </div>
    </section>


  <!-- Featured Sections
    ================================================== -->
  <section id="featured1"
    class="tp--section tp--featured tp--section-dark tp--gradient-20 tp--diagonal tp--diagonal-1 tp--padding-lg">

    <div class="container">
      <div class="row tp--col-sm-vertical-align">

        <div class="col-md-5 text-center text-md-left">
          <h2>Easy to use & intuitive design</h2>
          <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
            Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
          </p>
          <a class="btn btn-primary btn-white" href="#" role="button">Learn more</a>
        </div>

        <div class="col-md-6 col-md-offset-1">
          <img src="assets/images/featured-img-2.png" class="img-responsive" alt="">
        </div>

      </div>
    </div>

  </section>


  <!-- Featured Sections
    ================================================== -->
  <!-- <section id="featured2"
    class="tp--section tp--featured tp--section-with-bg tp--section-with-bg p-top-md-200 p-bottom-md-200 tp--no-background-sm tp--no-background-xs"
    style="background-image: url('assets/images/devices/device-macbook-2.png'); background-size: 65%; background-position: -200px center;">

    <div class="container">
      <div class="row tp--col-sm-vertical-align">
        
        <div class="col-lg-6 py-3"></div>

        <div class="col-lg-6 pl-lg-5 col-xl-5 py-3 text-center text-md-left">
          <h2>Every detail perfected for you</h2>
          <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
            Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
          </p>
          <a class="btn btn-primary" href="#" role="button">Learn more</a>

        </div>
      </div>
    </div>

  </section> -->
  <section id="featured2"
    class="tp--section tp--featured tp--section-with-bg tp--section-with-bg p-top-md-200 p-bottom-md-200 tp--no-background-sm tp--no-background-xs"
    style="/*background-image: url('assets/images/devices/device-macbook-2.png');*/ background-size: 65%; background-position: -200px center;">

    <div class="co0-md-12 tp--col-sm-vertical-align">
     <!--  <div class="row tp--col-sm-vertical-align"> -->
        
        <div class="col-lg-7 py-3">
          <img src="assets/images/devices/device-macbook-2.png">
        </div>

        <div class="col-lg-4 py-3 text-md-left">
          <h2>Every detail perfected for you</h2>
          <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
            Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
          </p>
          <a class="btn btn-primary" href="#" role="button">Learn more</a>

        </div>
      <!-- </div> -->
    </div>

  </section>


  <!-- Featured Sections
    ================================================== -->
  <section id="featured3"
    class="tp--section tp--section-with-bg-overlay tp--featured tp--parallax text-xs-center p-top-md-200 p-bottom-md-200"
    style="background-image: url('assets/images/bg-featured-2.jpg');">

    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-5">
          <h3>Save hours of your time managing people</h3>
          <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
            Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
          </p>
        </div>
      </div>
    </div>

  </section>



  <!-- Pricing
    ================================================== -->
  <section id="pricing" class="tp--section tp--pricing tp--pricing-1">

    <div class="page-header text-center">
      <i class="icon-credit-card icons"></i>
      <h2>Pricing</h2>
    </div>

    <div class="container">
      <div class="row plans">


          <div class="col-lg-3 px-lg-4 col-xs-12 col-sm-6 col-md-3" data-scrollreveal="enter over 1s">

            <div class="plan">

              <div class="plan-title">
                <h2>Beginner</h2>
                <h3><sup>$</sup>0<sub>/ month</sub></h3>
              </div>

              <ul class="plan-features">
                <li>1 user</li>
                <li>5 projects</li>
                <li>2GB storage</li>
              </ul>
              <div class="plan-cta">
                <p class="plan-buy"><a href="index.html" class="btn btn-primary">Select plan</a></p>
              </div>

            </div>

          </div>

          <div class="col-lg-3 px-lg-4 col-xs-12 col-sm-6 col-md-3" data-scrollreveal="enter over 1s">

            <div class="plan">

              <div class="plan-title">
                <h2>Advanced</h2>
                <h3><sup>$</sup>47<sub>/ month</sub></h3>
              </div>

              <ul class="plan-features">
                <li>5 users</li>
                <li>15 projects</li>
                <li>20GB storage</li>
              </ul>
              <div class="plan-cta">
                <p class="plan-buy"><a href="index.html" class="btn btn-primary">Select plan</a></p>
              </div>

            </div>

          </div>

          <div class="col-lg-3 px-lg-4 col-xs-12 col-sm-6 col-md-3" data-scrollreveal="enter over 1s">

            <div class="plan featured">

              <div class="plan-title">
                <h2>Pro</h2>
                <h3><sup>$</sup>147<sub>/ month</sub></h3>
              </div>

              <ul class="plan-features">
                <li>50 users</li>
                <li>Unlimited projects</li>
                <li>Unlimited storage</li>
              </ul>
              <div class="plan-cta">
                <p class="plan-buy"><a href="index.html" class="btn btn-primary">Select plan</a></p>
              </div>

            </div>

          </div>

          <div class="col-lg-3 px-lg-4 col-xs-12 col-sm-6 col-md-3" data-scrollreveal="enter over 1s">

            <div class="plan">

              <div class="plan-title">
                <h2>Enterprise</h2>
                <h3><sup>$</sup>199<sub>/ month</sub></h3>
              </div>

              <ul class="plan-features">
                <li>Unlimited users</li>
                <li>Unlimited projects</li>
                <li>Unlimited storage</li>
              </ul>
              <div class="plan-cta">
                <p class="plan-buy"><a href="index.html" class="btn btn-primary">Select plan</a></p>
              </div>

            </div>

          </div>
        
      </div>
    </div>

  </section>



  <!-- Testimonials
    ================================================== -->
  <section id="testimonials"
    class="tp--section tp--section-dark tp--gradient-20 tp--diagonal tp--diagonal-1 tp--testimonials tp--testimonials-2 text-center text-sm-left">

    <div class="page-header text-center">
      <i class="icon-heart icons tp--background-white"></i>
      <h2>Testimonials</h2>
    </div>

    <div class="container">

      <div class="row">

        <!-- Testimonial -->

        <div class="col-md-6">

          <div class="tp--floating-box tp--hover-1">

            <div class="row tp--testimonial-header tp--col-sm-vertical-align">

              <div class="col-sm-3">
                <img class="img-circle img-responsive" src="assets/images/user-avatar1.jpg">
              </div>

              <div class="col-sm-9 tp--padding-0">
                <h4>David Parrelli</h4>
                <p>Founder of <a href="https://healthcoach.io" target="_blank">HealthCoach</a></p>
              </div>

            </div>

            <div class="row">

              <div class="col-sm-12">

                <blockquote>
                  <p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit!"</p>
                </blockquote>

              </div>

            </div>

          </div>

        </div>


        <!-- Testimonial -->

        <div class="col-md-6">

          <div class="tp--floating-box tp--hover-1">

            <div class="row tp--testimonial-header tp--col-sm-vertical-align">

              <div class="col-sm-3">
                <img class="img-circle img-responsive" src="assets/images/user-avatar2.jpg">
              </div>

              <div class="col-sm-9 tp--padding-0">
                <h4>Christian Bale</h4>
                <p>Actor</p>
              </div>

            </div>

            <div class="row">

              <div class="col-sm-12">

                <blockquote>
                  <p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit!"</p>
                </blockquote>

              </div>

            </div>

          </div>

        </div>


        <!-- Testimonial -->

        <div class="col-md-6">

          <div class="tp--floating-box tp--hover-1">

            <div class="row tp--testimonial-header tp--col-sm-vertical-align">

              <div class="col-sm-3">
                <img class="img-circle img-responsive" src="assets/images/user-avatar3.jpg">
              </div>

              <div class="col-sm-9 tp--padding-0">
                <h4>Sandra Hayes</h4>
                <p>CEO at VR Tech</p>
              </div>

            </div>

            <div class="row">

              <div class="col-sm-12">

                <blockquote>
                  <p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit!"</p>
                </blockquote>

              </div>

            </div>

          </div>

        </div>


        <!-- Testimonial -->

        <div class="col-md-6">

          <div class="tp--floating-box tp--hover-1">

            <div class="row tp--testimonial-header tp--col-sm-vertical-align">

              <div class="col-sm-3">
                <img class="img-circle img-responsive" src="assets/images/user-avatar4.jpg">
              </div>

              <div class="col-sm-9 tp--padding-0">
                <h4>Samuel Johnston</h4>
                <p>Manager at Swirly Inc.</p>
              </div>

            </div>

            <div class="row">

              <div class="col-sm-12">

                <blockquote>
                  <p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit!"</p>
                </blockquote>

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

  </section>


  <!-- Clients
    ================================================== -->
  <section id="clients" class="tp--section tp--partners tp--partners-greyscale p-top-md-100 p-bottom-md-100">

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="owl-carousel tp--slider-multiple"
            data-carousel-options='{ "autoplay":true, "autoplayTimeout":"4000",  "items":"5", "mouseDrag": false, "touchDrag": false, "responsive": { "0": { "items":"4" } } }'>

            <div class="item">
              <img src="assets/images/partners/partner-1.png" alt="Partner 1">
            </div>

            <div class="item">
              <img src="assets/images/partners/partner-2.png" alt="Partner 2">
            </div>

            <div class="item">
              <img src="assets/images/partners/partner-3.png" alt="Partner 3">
            </div>

            <div class="item">
              <img src="assets/images/partners/partner-4.png" alt="Partner 4">
            </div>

            <div class="item">
              <img src="assets/images/partners/partner-5.png" alt="Partner 5">
            </div>

            <div class="item">
              <img src="assets/images/partners/partner-6.png" alt="Partner 6">
            </div>

          </div>
        </div>
      </div>
    </div>

  </section>

    <!-- FRM
    ================================================== -->

    <section class="FRM">
      <div class="container">
        <div class="row justify-content-center py-5">
          <div class="col-lg-5 col-md-7 col-sm-9 py-5 text-center">
            <h3>Ready to measure your brand?</h3>
            <p class="fz13 tw-capitalize">Get in touch with our analysts to preview your brand’s unique study methodology for free.</p>

            <form action="https://www.getdrip.com/forms/31912202/submissions" method="post" data-drip-embedded-form="31912202" class="form-group px-sm-3 mt-5">
              <input type="text" class="form-control br20 mb-3 pl-3 fz14" iid="drip-first-name" name="fields[first_name]" value="" placeholder="Name" minlength="2">
              <input type="email" class="form-control br20 mb-3 pl-3 fz14" id="drip-email" name="fields[email]" value="" placeholder="Email">
              <!--<textarea placeholder="Enter Your Message" class="form-control br20 mb-3 pl-3 fz14" cols="30" rows="6"></textarea> -->
              <buttun class="btn G_btn px-5 text-uppercase"><span class="px-3">Request a preview</span></buttun>
            </form>
          </div>
        </div>
      </div>
    </section>



  <!-- Call to Action
    ================================================== -->
  <section class="CTA tp--section tp--cta tp--cta-2 tp--section-light">

    <div class="container">

      <div class="row tp--col-sm-vertical-align">

        <div class="col-sm-8">
          <p>Join thousands of entrepreneurs and learn how they have succeeded in their own businesses. Sign up to get
            started with your free account.</p>
        </div>
        <div class="col-sm-4">
          <p><a href="#modal-register" class="btn btn-primary btn-lg popup-modal">Get started</a></p>
        </div>

      </div>

    </div>

  </section>



  <!-- Footer
    ================================================== -->

    <footer>
      <div class="container">
        <div class="row py-4 justify-content-center text-center">
          <div class="col-lg-3 py-3">
            <a href="#"><img src="/img/f-logo.png" class="img-fluid" alt=""></a>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <p class="text-uppercase font-weight-bold mt-4 pt-2"><a href="/blog">blog</a></p>
            <ul class="mt-4 list-unstyled">
              <li><a href="#"></a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <p class="text-uppercase font-weight-bold mt-4 pt-2"><a href="/marketing-is-broken">Marketing is Broken</a></p>
            <ul class="mt-4 list-unstyled">
              <li><a href="#"></a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-4">
            <p class="text-uppercase font-weight-bold mt-4 pt-2"><a href="/contact-us">Contact Us</a></p>
            <ul class="mt-4 list-unstyled">
            </ul>
          </div>
        </div>
        <div class="row justify-content-between bottom pb-5">
          <div class="col-lg-4 col-sm-6 order-sm-1 order-2 py-3">
            <p class="m-0 small">Copyright 2017-2020 Brandish Insights</p>
            <p class="m-0 small"><a href="/privacy-policy">Privacy Policy</a> & <a href="/terms-of-service">Terms of Service</a></p>
          </div>
          <div class="col-lg-2  col-sm-6 order-sm-2 order-1 py-3 text-right">
            <p class="m-0 small">Connect with us</p>
            <ul class="m-0 list-inline list-unstyled">
              <li class="list-inline-item">
                <a href="https://facebook.com/brandishinsights" target="_New"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/company/brandish-insights/" target="_new"><i class="fab fa-linkedin"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.youtube.com/channel/UCF1_oY9d2yJ1NlcJf2YBHDg" target="_New"><i class="fab fa-youtube"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  <!-- Login Form -->

  <div id="modal-login" class="tp--authentication text-center white-popup mfp-hide">

    <section class="tp--authentication-container">

      <div class="page-header">
        <h3>Login to your account</h3>
      </div>

      <div class="row">

        <div class="col-sm-12">

          <form id="form_login" class="form-authentication">

            <div class="row tp--social-login">

              <div class="col-xs-4">
                <a title="Facebook" class="btn btn-signup tp--facebook fa fa-facebook" href="#"></a>
              </div>

              <div class="col-xs-4">
                <a title="LinkedIn" class="btn btn-signup tp--linkedin fa fa-linkedin" href="#"></a>
              </div>

              <div class="col-xs-4">
                <a title="Twitter" class="btn btn-signup tp--twitter fa fa-twitter" href="#"></a>
              </div>

              <div class="col-xs-12">
                <p class="divider">or</p>
              </div>

            </div>


            <div class="form-group">
              <i class="icon-envelope"></i>
              <input class="form-control" id="id_login" name="login" value="" placeholder="Enter your email"
                type="email">
            </div>

            <div class="form-group">
              <i class="icon-lock"></i>
              <input class="form-control" id="id_password" name="password" placeholder="Enter your password"
                type="password">
            </div>

            <input class="button" name="commit" type="submit" value="Login">

            <div class="tp--authentication-footer">
              <p class="links clearfix">
                <a class="pull-left" href="#">Don't have an account? Sign up</a>
                <a class="pull-right" href="#">Forgot your password?</a>
              </p>
            </div>

          </form>

        </div>

      </div>

    </section>

  </div>


  <!-- Registration Form -->

  <div id="modal-register" class="tp--authentication text-center white-popup mfp-hide">

    <section class="tp--authentication-container">

      <div class="page-header">
        <h3>Register a new account</h3>
      </div>

      <div class="row">

        <div class="col-sm-12">

          <form id="form_register" class="form-authentication">

            <div class="row tp--social-login">

              <div class="col-md-4">
                <a title="Facebook" class="btn btn-signup tp--facebook fa fa-facebook" href="#"></a>
              </div>

              <div class="col-md-4">
                <a title="LinkedIn" class="btn btn-signup tp--linkedin fa fa-linkedin" href="#"></a>
              </div>

              <div class="col-md-4">
                <a title="Twitter" class="btn btn-signup tp--twitter fa fa-twitter" href="#"></a>
              </div>

              <div class="col-md-12">
                <p class="divider">or</p>
              </div>

            </div>


            <div class="form-group">
              <i class="icon-envelope"></i>
              <input class="form-control" id="id_register" name="login" value="" placeholder="Enter your email"
                type="email">
            </div>

            <div class="form-group">
              <i class="icon-lock"></i>
              <input class="form-control" id="id_password" name="password" placeholder="Enter your password"
                type="password">
            </div>

            <div class="form-group">
              <i class="icon-lock"></i>
              <input class="form-control" id="id_password_reenter" name="password_reenter"
                placeholder="Re-enter your password" type="password">
            </div>

            <input class="button" name="commit" type="submit" value="Register your account">

            <div class="tp--authentication-footer">
              <p class="disclaimer">By registering an account, you agree with our <a href="#">Terms of Service</a> and
                <a href="#">Privacy Policy</a>.</p>
              <p class="links">
                <a class="" href="#">Already have an account? Login</a>
              </p>
            </div>

          </form>

        </div>

      </div>

    </section>

  </div>


  <!-- Contact Form -->

  <div id="modal-contact" class="tp--contact text-center white-popup mfp-hide">

    <div class="page-header">
      <h3>Get in touch</h3>
      <p>Feel free to get in touch with us by sending your message below.</p>
    </div>


    <form id="contact-form" method="post" action="contact-form/contact.php" role="form">

      <div class="messages"></div>

      <div class="controls">

        <div class="row">
          <div class="col-md-12">

            <label for="form_name">Full Name *</label>

            <div class="row">

              <div class="col-md-6">

                <div class="form-group">
                  <label for="form_lastname" class="sr-only">First Name *</label>
                  <input id="form_name" type="text" name="name" class="form-control" placeholder="First name"
                    required="required">
                  <div class="help-block with-errors"></div>
                </div>

              </div>

              <div class="col-md-6">

                <div class="form-group">
                  <label for="form_lastname" class="sr-only">Last Name *</label>
                  <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Last name"
                    required="required">
                  <div class="help-block with-errors"></div>
                </div>

              </div>

            </div>

          </div>

        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="form_email">Email *</label>
              <input id="form_email" type="email" name="email" class="form-control"
                placeholder="Please enter your email" required="required">
              <div class="help-block with-errors"></div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="form_message">Message *</label>
              <textarea id="form_message" name="message" class="form-control" placeholder="Please enter your message"
                rows="4" required="required"></textarea>
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="col-md-12 text-center">
            <input type="submit" class="btn btn-primary btn-lg btn-circular btn-send" value="Send your message">
          </div>
        </div>

      </div>

    </form>

  </div>


  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

  <!-- Bootstrap Plugins -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!-- Template Plugins -->
  <script src="/js/plugins/classie/classie.js"></script>
  <script src="/js/plugins/owl-carousel/owl.carousel.min.js"></script>
  <script src="/js/plugins/isotope/isotope.pkgd.min.js"></script>
  <script src="/js/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
  <script src="/js/plugins/modernizr/modernizr-custom.js"></script>
  <script src="/js/plugins/aos/aos.js"></script>
  <script src="/js/plugins/jquery-validate/jquery.validate.min.js"></script>
  <script src="/js/plugins/loaders-css/loaders.css.js"></script>

  <!-- Template Javascript -->
  <script src="/js/main.js"></script>
  <script src="/js/start.min.js"></script>
  <script src="/js/plugins/chart/utils.js"></script>
  <script src="/js/plugins/chart/Chart.min.js"></script>
  <script>
      var wow = new WOW(
        {
          boxClass:     'start',
          animateClass: 'design',
          offset:       0, 
          mobile:       true,
          live:         true,
          callback:     function(box) {
          }
        }
      );
      wow.init();
    </script>

</body>

</html>